body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid black;
}

.another_block {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid black;
}

.block > div::selection {
    background-color: inherit;
}

.another_block > div::selection {
    background-color: inherit;
}

